{%extends "layout.html"%}
{%block content%}

    <div class="calculo">
        <h1>Calculo Manual E</h1>
        <p>This is a test WebSite - Proyecto Web- Calculo Manual</p>
    </div>




    <div class="container">
        
        <h3>Ingresar Valores de Frecuencia en [MHz] y nivel de Potencia [dBm] </h3>
       
         
           
        <form action="">
            <p>Ingresar Frecuencia:        <input title="Frequency TITLE" place holder="Enter Frequency [MHz]" type="text" id="numero1" required><br></p><br>
            <p>Ingresar Potencia EIRP Watts: <input title="EIRP TITLE" place holder="Enter EIRP [Watts]" type="text" id="numero2" required></p> <br>
            
            <p>El resultado es:   <br></p>

            <?php
                $num3=40;
                echo $num3++;


            >
            
            
        </form>
          
        
      
    </div>
     
{%endblock%}